@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <form name="Admin_add" method="post">
        <div>
            <table>
                <tr>
                    <td>
                        <p>Название</p><input id="val" type="Text" class="textblock" name="Name" maxlength="40" size="100" align="right">
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Адрес магазина</p><input id="adress" type="Text" class="textblock" name="Address" maxlength="40" size="100" align="right">
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Телефон</p><input id="Tel" type="Text" class="textblock" name="Phone" maxlength="40" size="100" align="right">
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>e-mail</p><input id="Tel_m" type="Text" class="textblock" name="E_mail" maxlength="40" size="100" align="right">
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Сайт магазина</p><input id="Sayt" type="Text" class="textblock" name="in_adress" maxlength="40" size="100" align="right">
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Координатa X</p><input id="time" type="Text" class="textblock" name="CoordinatesX" maxlength="40" size="100" align="right">
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Координатa Y</p><input id="time" type="Text" class="textblock" name="CoordinatesY" maxlength="40" size="100" align="right">
                    </td>
                </tr>
                <tr>
                    <td>

                        <input type="submit" class="but" value=" Сохранить " class="textblock" name="SRCH" maxlength="40" width="50" align="right">

                    </td>
                </tr>
            </table>
        </div>
    </form>
</body>
</html>
