@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    
    <title>Index</title>

    </head>
    <body align="center">
        <div align="center" >
            <p>Super System</p>
            <table border="1">
                <tr>
                    <td><p>Login </p></td>
                    <td><input type="text" name="User_Login" maxlength="15" height="50" size="20"  /> </td>
                </tr>
                <tr>
                    <td><p>Password</p></td>
                    <td>
                        <input type="password" name="Password" maxlength="15" height="50" size="20"  />
                    </td>
                </tr>
                <tr>
                    <td>

                        <p><a href="/Home/Admin/">Log in</a></p>
                    </td>
                    
                    <td><p><a href="/Home/Map/">Перейти к карте</a></p></td>
                </tr>
            </table>
        </div>
    </body>
    </html>
